<div class= "index-trklst-container">
  <div class="index-trklst-header">
    <h1 class="index-header">All Artists</h1>
  </div>    
  <div class= "index-tracklist">
    <ul class="list-group">
      <% @artists.each do |artist| %>
        <li class="list-group-item"><%= link_to artist.name, artist_path(artist) %></li>
      <% end %>
    </ul>
  </div>
</div>