
<div class="show-container">
  <div class="show-wrapper">
    <div class="show-row-1">
      <img id= "show-image", src= <%="#{@artist.img_url}"%> id="show-image", alt= "This URL Appears To Be Broken" >  
      <h1 class="text-info"><%= @artist.name %></h1>
    </div>
    <h5 class="text-info">Tracklists</h5>
    <ul class="list-group">
      <% @artist.tracklists.each do |tracklist| %>
        <li class="list-group-item"><%= link_to tracklist.name, tracklist_path(tracklist) %></li>
      <% end %>
    </ul>
  </div>
</div>