<div class="index-trklst-container">
  <div class="index-trklst-header">
    <h1 class="index-header">All Festivals</h1>
  </div>  
  <div class="index-tracklist">
    <ul class="list-group">
      <% @festivals.each do |festival| %>
        <li class= "list-group-item"><%= link_to festival.name, festival_path(festival) %></li>
      <% end %>
    </ul>
  </div>
</div>