
<div class="show-container">
  <div class="show-wrapper">
    <div class="show-row-1">
      <h1 class="text-info"><%= @festival.name %></h1>
      <h5 class="text-info"><%= @festival.date.strftime("%d of %B, %Y") %></h5>
      <h5 class="text-info"><%= @festival.location %></h5>
    </div>
    <h5 class="text-info">Tracklists</h5>
      <ul class="list-group">
        <% @festival.tracklists.each do |tracklist| %>
          <li class="list-group-item"><%= link_to tracklist.name, tracklist_path(tracklist) %></li>
        <% end %>
      </ul>
  </div>    
</div>      