@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #222831 !important;
    height: 55px;
}

.navbar .brand { 
    max-height: 30px !important;
    max-width: 30% !important; 
    overflow: visible !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important; 
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.trklst-img-container { 
    margin: auto;
    display: flex;
    justify-content: center;
}

#trklst-img {
    max-width: 300px;
    max-height: 300px;
    
    
}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.trklst-col-2 {
    margin: 30px;
}

.trklst-col-1 {
    margin: 30px;
    
}

.verify-button {
    position: relative;

}


// INDEX TRKLST 


.index-trklst-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("alesso_edc.jpg"); 
}
.index-trklst-header {
    padding: 30px;
}
.index-header {
    color: white;
    font-weight: 500;
}
