@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #222831 !important;
}

.navbar .brand { 
    max-height: 40px !important;
    max-width: 30% !important; 
    overflow: visible !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important; 
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

