<h1>Welcome to MixHub!</h1>



<% @recent_tracklists.each do |tracklist| %>

    <h4><img src= <%="#{tracklist.img_url}"%>, width = "250", height = "250"> <%= link_to tracklist.name, tracklist_path(tracklist)%></h4>

<%end%> 


