

<div class="jumbotron">
    <h1 class="display-4">Welcome to Mixhub!</h1>
    <p class="lead">Mixhub is a community based app where you can view and create tracklists to your favorite live recordings and DJ mixes.</p>
    <% if !user_signed_in? %>
        <hr class="my-4">
        <p>If you want to create a tracklist make sure to sign up!</p>
        <%= button_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg", method: 'get' %>
    <%end%>
</div>
    <h3 id="recent-trklist-header" class="text-info">Recent Tracklists:</h3>
    <div class="tracklist-icons">
        <% @recent_tracklists.each do |tracklist| %>
            <div class="home-icon-wrapper">
                <a href=<%="#{tracklist_path(tracklist)}"%>>
                    <img src=<%="#{tracklist.img_url}"%> id="icon-img">
                </a>
                <%= link_to tracklist.name, tracklist_path(tracklist), class: "icon-trklst-name"%>
            </div>
        <%end%> 
    </div>
